{% extends "base.html" %}

{% block title %}LaBox-sign in{% end %}

{% block content %}
  <h1 class="cover-heading">Sign inしてください</h1>
  <p class="lead">
    <form name="signin" class="form-signin" method="post" action="/signin">
      <p class="lead"><input type="text" name="user" class="form-control" placeholder="Username">
        <input type="password" name="password" class="form-control" placeholder="Password"></p>
      <p class="lead"><button type="submit" name="signin" class="btn btn-lg btn-default">Sign in</button></p>
    </form>
  </p>
{% end %}
